<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/variables.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="menu-tab">
            <div style="display: flex; -webkit-app-region: drag; width: 60%;"></div>
            <ul class="navbars">
                <button class="navbutton" id="minimize"><img src="../assets/minimize_1024.png"></button>
                <button class="navbutton" id="maximize"><img src="../assets/maximize_1024.png" id="img-toggle"></button>
                <button class="navbutton" id="close"><img src="../assets/close_1024.png"></button>
            </ul>
        </div>
        <div class="container">
		<h1>Hello world!</h1>
		<p>A template by Graycrown for making apps with Electron and Graycrown UI. Good luck!</p>
        </div>
        <script src="../script/main.js"></script>
    </body>
</html>
